
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Open rules for prototyping. Ensure these are restricted for production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
// Triggering rules redeploy with comment.
